body {
    /*background:url("../img/background.jpg");*/
    padding-top: 70px;
    background: #BDBDBD;
}
.container
{
    max-width: 950px;
}

.navbar-brand
{
    padding-top:0;
}

.navbar-brand>img
{
    height:50px;
}

.rahmen
{
    padding: 5px;
    border-radius: 3px;
}

.diamond
{
    background: #5d729a !important;
}

.gold
{
    background: #8a811b !important;
}

.bronze
{
    background: #8a5a0d !important;
}

.konzept
{
    background:#eeeeee;
    padding:5px;
    border-radius: 3px;
    box-shadow: 0 2px 6px -2px rgba(22,22,22,0.45);

}

#konzept_new
{
    margin-bottom:2em;
}

#konzept_new>a
{
    font-size:1.4em;
    font-weight: 600;
}

.konzept img
{
    width:100%;

}

.konzept_preview
{
    background:#ffffff;
    min-height: 150px;
    padding:0 20px;
    border-radius: 3px;
    box-shadow: 0 2px 6px -2px rgba(22,22,22,0.45);
}

.konzept_preview>img
{
    width:auto;
    height: 200px;
}

.konzept_wrapper
{
    margin:10px 0;
}

.konzept_description
{
    margin:10px 0;
}

form
{
    margin:0;
}

fieldset
{
    margin:0;
}

.renamelater{
    margin-bottom: 1em;
}


/*++++++++***++++++++++++++++
Profil
+++++++++++++++++++++++++++*/

div#profil h3
{
    font-size: 3em;
    color: #2A2B2C;
    margin:10px 0;
}

div#profil .list-group-item
{
    background: #eeeeee;
}

div#profil .list-group-item>p
{
    font-size:1.4em;
    color:#374140;
    font-weight: 600;
}

div#profil .profil_wrapper
{
    padding: 5px;
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
}

div#profil .profil_wrapper img
{
    width: 80%;
    border-radius: 50%;
    margin-bottom:2em;
}

div#profil .profil_wrapper>p
{
    font-size:0.8em;
    text-align: center;
    width: 100%;
}

div#profil .profil_wrapper>p.name
{
    font-weight: 600;
}

div#profil .profil_wrapper>p .header
{
    font-weight: 600;
}

div#profil .profil_wrapper>p.about
{
    text-align: left;
}

